
/* color-set */
.color-1 { color: #022E40; }
.color-2 { color: #227373; }
.color-3 { color: #D9CDB8; }
.color-4 { color: #F27A5E; }
.color-5 { color: #D93B3B; }
.bg-color-1 { background-color: #022E40; }
.bg-color-2 { background-color: #227373; }
.bg-color-3 { background-color: #D9CDB8; }
.bg-color-4 { background-color: #F27A5E; }
.bg-color-5 { background-color: #D93B3B; }
.br-color-1 { border-color: #022E40; }
.br-color-2 { border-color: #227373; }
.br-color-3 { border-color: #D9CDB8; }
.br-color-4 { border-color: #F27A5E; }
.br-color-5 { border-color: #D93B3B; }


/* web-font */
.wf-sawarabimincho { font-family: "Sawarabi Mincho"; }

.header-contents-fix{
    width: 100%;
    height: 5%;
    text-align: right;
    position: fixed;
    z-index: 1;
}
.header-contents-top{
    width: 100%;
    /* height: 100px; */
    text-align: right;
    position: absolute;
    z-index: 200;
}

.haeder-images{
 z-index: 2010;
}

.header-contents{
    display: inline-block;
    top: 10px;
}
.header-contents:hover{
    text-decoration: none;
    color: gray;
}
#main{
    /* padding-top: 100px; */
}
.top-image-caption-area{
    position: absolute;
    z-index: 200;
    /* text-align: center; */
    width: 80%;
    height: 70%;
    margin: 10%;
    background-color:rgba(0,0,0,0.5);   
}
.top-image-caption-bg-area{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    background-color: grey;
    vertical-align: middle;
}
.top-image-caption{
    top: 40%;
    height: 60%;
    width: 100%;
    text-align: center;
    text-align: center;
    position: absolute;
    
}
.main-img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.contents-body{
    height: 100%;
    width: 100%;
}
.contents-title{
 text-align: center;
 padding-top: 10%;
}
.contents-title-caption{
    z-index: 200;
    text-align: center;
}
.contents-border-top{
    border: 1px solid;
    border-bottom: 0px;
    height: 1rem;
}
.contents-border-under{
    border: 1px solid;
    border-top: 0px;
    height: 1rem;
}
.contents-border-top-l{
    border: 1px solid #D9CDB8;
    border-bottom: 0px;
    height: 1rem;
}
.contents-border-under-l{
    border: 1px solid #D9CDB8;
    border-top: 0px;
    height: 1rem;
}
.skill-icon{
    transform:scale(1,1);
    transition:0.5s all;
}
.skill-icon:hover {
    transform:scale(1.9,1.9);
    transition:0.5s all;
    color: #F27A5E;
}
/* content */
.contents-chunk{
    margin-top: 5%;
    height: 50%;
}

/* content-profile */
.profile-img{
    
}

/* skills */
.centers{
    text-align: center;
}
.non_display{
    visibility: hidden;
}
#skill-content{

}
.skill-content{
    margin-top: 5%;
    height: 100%;
    width: 100%;
    text-align: center;
    border: 1px solid#D9CDB8;
    padding: 2.5%;
}
.skill-centers-icon{
   /* transform:scale(4,4); */
   font-size:5rem;
}
.skill-centers{
    margin-top: 15%;
}
/* 準備中 */
.wait-now{
    margin-top: 10%;
    text-align: center;
    size: 2rem;
    z-index: 180;
}


/* TOPに戻る */
#page_top{
    width: 50px;
    height: 50px;
    position: fixed;
    margin-bottom: 5%;
    margin-right: 5%;
    right: 0;
    bottom: 0;
    opacity: 0.6;
    border-radius: 50%;
}
#page_top a{
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    text-decoration: none;
}
#page_top a::before{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f0d8';
    font-size: 25px;
    color: #fff;
    position: absolute;
    width: 25px;
    height: 25px;
    top: -5px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
}

/* feidin */
/*1.フェードインアニメーションの指定*/
.scrollanime {opacity: 0;} /*一瞬表示されるのを防ぐ*/
.fadeInDown {
    animation-name: fadeInDown;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}
@keyframes fadeInDown {
    0% {
        opacity: 0;         
    }
    100% {
    opacity: 1;
    transform: translate(0);
    }
}
 
/*2.上下の動きを指定*/
.updown {transform: translateY(-100px);}
.downup {transform: translateY(100px);}
 
/*3.左右の動きを指定*/
.sect02{overflow: hidden;} /*横スクロールバーを隠す*/
.slide-right {transform: translateX(200px);}
.slide-left {transform: translateX(-200px);}